@model Reserva.Models.Calibre

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir</h2>

<h3>Tem certeza de que deseja excluir esse Calibre ?</h3>
<div>
    <h4>Calibre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2">Tamanho</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <br>
        <div class="form-actions no-color">
            <button type="button" class="btn btn-adn" onclick='location.href="@Url.Action("Index")"'>Voltar</button>
            <input type="submit" value="Deletar" class="btn btn-danger" />
        </div>
    }
</div>
